/nbproject/
/thinkphp/
/vendor/
/runtime/*
!/runtime/.htaccess
/addons/*
!/addons/.htaccess
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
!/public/uploads/.htaccess
.DS_Store
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
