{include file="cms/layout/header" /}
<main>
{volist name="content.blocks" id="block"}
{switch name="block.key"}
{case value="bags_hero"}{include file="cms/page/bags/hero" /}{/case}
{case value="bags_products"}{include file="cms/page/bags/products" /}{/case}
{case value="bags_compare"}{include file="cms/page/bags/compare" /}{/case}
{case value="bags_cases"}{include file="cms/page/bags/cases" /}{/case}
{case value="bags_samples"}{include file="cms/page/bags/samples" /}{/case}
{case value="bags_crafts"}{include file="cms/page/bags/crafts" /}{/case}
{case value="bags_process"}{include file="cms/page/bags/process" /}{/case}
{case value="bags_cta"}{include file="cms/page/bags/cta" /}{/case}
{/switch}
{/volist}
{include file="cms/layout/footer" /}
