{include file="cms/layout/header" /}
<main>
{volist name="content.blocks" id="block"}
{switch name="block.key"}
{case value="contact_hero"}{include file="cms/page/contact/hero" /}{/case}
{case value="contact_info"}{include file="cms/page/contact/info" /}{/case}
{case value="contact_thanks"}{include file="cms/page/contact/thanks" /}{/case}
{/switch}
{/volist}
<script src="__CDN__/assets/js/cms-contact-baidu-map.js?v={$cmsSite.version|default='1.0'}" defer></script>
{include file="cms/layout/footer" /}
