{include file="cms/layout/header" /}
<link rel="stylesheet" href="__CDN__/assets/css/cms-contact-page.css?v={$cmsSite.version|default='1.0'}&source=20260818-contact-baidu-map">
<link rel="stylesheet" href="__CDN__/assets/css/cms-structured-mobile-hero.css?v={$cmsSite.version|default='1.0'}&source=20260817-mobile-hero">
<main>
<div class="cms-contact-page" data-page="contact" data-page-title="{$content.page.title|default=''|htmlentities}">
{volist name="content.blocks" id="block"}
{switch name="block.key"}
{case value="contact_hero"}{include file="cms/page/contact/hero" /}{/case}
{case value="contact_info"}{include file="cms/page/contact/info" /}{/case}
{case value="contact_thanks"}{include file="cms/page/contact/thanks" /}{/case}
{/switch}
{/volist}
</div>
<script src="__CDN__/assets/js/cms-contact-baidu-map.js?v={$cmsSite.version|default='1.0'}&source=20260818-baidu-map" defer></script>
{include file="cms/layout/footer" /}
