<div class="panel panel-default panel-intro">
    <div class="panel-heading">{:build_heading(null, false)}</div>
    <div class="panel-body">
        <div class="widget-body no-padding">
            <div id="toolbar" class="toolbar">
                {:build_toolbar('refresh,add')}
            </div>
            <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                   data-operate-edit="{:$auth->check('cms/product/edit')}"
                   data-operate-del="{:$auth->check('cms/product/del')}"
                   data-operate-submit="{:$auth->check('cms/product/submit')}"
                   data-operate-publish="{:$auth->check('cms/product/publish')}"
                   data-operate-reject="{:$auth->check('cms/product/reject')}"
                   data-operate-offline="{:$auth->check('cms/product/offline')}"
                   data-operate-duplicate="{:$auth->check('cms/product/duplicate')}"
                   data-operate-images="{:$auth->check('cms/product_image/index')}"
                   data-operate-parameters="{:$auth->check('cms/product_parameter/index')}"
                   width="100%"></table>
        </div>
    </div>
</div>
