{include file="cms/common/strict_header" /}
{include file="cms/common/strict_channel_nav" /}
<div>
    <div class="p101-info-1-title">
        <div class="p101-info-1-text">{$content.article.title|htmlentities}</div>
        <div class="p101-info-1-time">
            <span class="fl">来源：{notempty name="content.metadata.source"}<a href="javascript:;">{$content.metadata.source|htmlentities}</a>{/notempty}</span>
            <span class="fr">时间：{$content.metadata.publish_date|htmlentities}</span>
        </div>
    </div>
    <div class="p101-info-1-content endit-content">{$content.article.content_html}</div>
</div>
<div>
    <div class="p101-info-1-label">
        {notempty name="content.article.tags"}
        <div class="p101-info-1-key"><p><em>本文标签：</em>{volist name="content.article.tags" id="tag"}<a href="{$mobileBase}{$tag.url|htmlentities}" title="{$tag.name|htmlentities}"> {$tag.name|htmlentities} </a>{/volist}</p></div>
        {/notempty}
        <div class="p101-info-1-paging">
            {notempty name="content.previous"}<div class="p101-info-1-paging-prev"><a class="clearfix" href="{$mobileBase}{$content.previous.url|htmlentities}" title="{$content.previous.title|htmlentities}"><span>上一篇:</span><h4>{$content.previous.title|htmlentities}</h4></a></div>{/notempty}
            {notempty name="content.next"}<div class="p101-info-1-paging-next"><a class="clearfix" href="{$mobileBase}{$content.next.url|htmlentities}" title="{$content.next.title|htmlentities}"><span>下一篇:</span><h4>{$content.next.title|htmlentities}</h4></a></div>{/notempty}
        </div>
    </div>
</div>
{notempty name="content.relatedArticles"}
<div class="p101-related-pro">
    <div class="p101-related-pro-tit"><h3>相关资讯</h3><div class="p101-related-pro-more"><a href="{$mobileBase}/news"><span>更多</span><i></i></a></div></div>
    <div class="p101-related-pro-list">
        {volist name="content.relatedArticles" id="item"}<a href="{$mobileBase}{$item.url|htmlentities}" title="{$item.title|htmlentities}"><dl><dt>{notempty name="item.cover"}<img alt="{$item.title|htmlentities}" src="{$item.cover|htmlentities}">{/notempty}</dt><dd><h4>{$item.title|htmlentities}</h4></dd></dl></a>{/volist}
    </div>
</div>
{/notempty}
{include file="cms/common/strict_footer" /}
