{include file="cms/common/strict_header" /}
<div><div class="p101-ad-1"><div class="p101-ad-1-back"><a href="javascript:history.back(-1);" title="返回上级"><img src="__CDN__{$mobileStrictAssetBase}/images/VISkins_Back_icon.png" alt=""></a></div><div class="p101-ad-1-title">{$content.title|htmlentities}</div></div></div>
<div class="mc2-about-1"><div class="mc2-about-list"><ul><li><h3>{$content.title|htmlentities}</h3><p>{$content.description|htmlentities}</p><p><a href="{$content.link_url|htmlentities}">{$content.button_text|htmlentities}</a></p></li></ul></div></div>
{include file="cms/common/strict_footer" /}
