{include file="cms/common/strict_header" /}
<link rel="stylesheet" href="__CDN__/assets/css/cms-about-page.css?v={$cmsSite.version|default='1.0'}&source=20260816-about">
<link rel="stylesheet" href="__CDN__/assets/css/cms-pc-inner-banner.css?v={$cmsSite.version|default='1.0'}&layout=background-copy-optional-r1">
<div class="cms-about-page" data-page="about" data-page-title="{$content.page.title|default=''|htmlentities}"><main>
{volist name="content.blocks" id="block"}
{switch name="block.key"}
{case value="about_hero"}{include file="cms/page/about/hero" /}{/case}
{case value="about_values"}{include file="cms/page/about/values" /}{/case}
{case value="about_stats"}{include file="cms/page/about/stats" /}{/case}
{case value="about_culture_source"}{include file="cms/page/about/culture" /}{/case}
{/switch}
{/volist}
</main></div>
<script src="__CDN__/assets/js/cms-about-page.js?v={$cmsSite.version|default='1.0'}&source=20260816-about"></script>
{include file="cms/common/strict_footer" /}
