{include file="cms/layout/header" /}
<link rel="stylesheet" href="__CDN__/assets/css/cms-bags-page.css?v={$cmsSite.version|default='1.0'}&source=20260819-bags-cases-carousel-r1">
<link rel="stylesheet" href="__CDN__/assets/css/cms-pc-inner-banner.css?v={$cmsSite.version|default='1.0'}&layout=background-copy-optional-r1">
<main>
<div class="cms-bags-page" data-page="bags">
{volist name="content.blocks" id="block"}
{switch name="block.key"}
{case value="bags_hero"}{include file="cms/page/bags/hero" /}{/case}
{case value="bags_products"}{include file="cms/page/bags/products" /}{/case}
{case value="bags_compare"}{include file="cms/page/bags/compare" /}{/case}
{case value="bags_cases"}{include file="cms/page/bags/cases" /}{/case}
{case value="bags_samples"}{include file="cms/page/bags/samples" /}{/case}
{case value="bags_crafts"}{include file="cms/page/bags/crafts" /}{/case}
{case value="bags_process"}{include file="cms/page/bags/process" /}{/case}
{case value="bags_cta"}{include file="cms/page/bags/cta" /}{/case}
{/switch}
{/volist}
</div>
<script src="__CDN__/assets/js/cms-bags-page.js?v={$cmsSite.version|default='1.0'}&source=20260819-bags-cases-carousel-r1"></script>
{include file="cms/layout/footer" /}
