{include file="cms/layout/header" /}
<link rel="stylesheet" href="__CDN__/assets/css/cms-label-page.css?v={$cmsSite.version|default='1.0'}&source=20260816-latest">
<link rel="stylesheet" href="__CDN__/assets/css/cms-pc-inner-banner.css?v={$cmsSite.version|default='1.0'}&layout=background-copy-optional-r1">
<main>
<div class="cms-label-page" data-page="label">
{volist name="content.blocks" id="block"}
{switch name="block.key"}
{case value="label_hero"}{include file="cms/page/label/hero" /}{/case}
{case value="label_quote"}{include file="cms/page/label/quote" /}{/case}
{case value="label_samples"}{include file="cms/page/label/samples" /}{/case}
{case value="label_capability"}{include file="cms/page/label/capability" /}{/case}
{case value="label_tech"}{include file="cms/page/label/tech" /}{/case}
{case value="label_compare"}{include file="cms/page/label/compare" /}{/case}
{case value="label_materials"}{include file="cms/page/label/materials" /}{/case}
{case value="label_elements"}{include file="cms/page/label/elements" /}{/case}
{case value="label_service"}{include file="cms/page/label/service" /}{/case}
{case value="label_advantages"}{include file="cms/page/label/advantages" /}{/case}
{case value="label_cta"}{include file="cms/page/label/cta" /}{/case}
{/switch}
{/volist}
</div>
<script src="__CDN__/assets/js/cms-label-page.js?v={$cmsSite.version|default='1.0'}&source=20260816-latest"></script>
{include file="cms/layout/footer" /}
